# Google verification
google02bde680fd4d3729.html

# Folders with their own github repository

bionames-api
bionames-archive
bionames-design
bionames-gallica

# Symlinks 
archive

data/darwincore/*.zip
data/darwincore/latest
data/darwincore/20*
data/darwincore/junk
data/junk
data/sql

labs/zookeys-viewer

treelib-js

vendor/document-viewer

# Experiments

# Exhibit
test3.php
convert.json
vendor/exhibit3

