RewriteEngine on

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#

RewriteBase /

RedirectMatch 404 /\.git

#---------------------------------------------------------------------------------------------------
# HTML	

# URLs of the form ^/identifier
RewriteRule ^(urn:lsid.*)   display_identifier.php?namespace=lsid&id=$1   [NC,L]
RewriteRule ^doi/(.*)   display_identifier.php?namespace=doi&id=$1   [NC,L]
RewriteRule ^doi:(.*)   display_identifier.php?namespace=doi&id=$1   [NC,L]
RewriteRule ^hdl/(.*)   display_identifier.php?namespace=handle&id=$1   [NC,L]
RewriteRule ^hdl:(.*)   display_identifier.php?namespace=handle&id=$1   [NC,L]
RewriteRule ^handle/(.*)   display_identifier.php?namespace=handle&id=$1   [NC,L]
RewriteRule ^pmid/(.*)   display_identifier.php?namespace=pmid&id=$1   [NC,L]
RewriteRule ^pmid:(.*)   display_identifier.php?namespace=pmid&id=$1   [NC,L]
RewriteRule ^pmc/(.*)   display_identifier.php?namespace=pmc&id=$1   [NC,L]
RewriteRule ^pmc:(.*)   display_identifier.php?namespace=pmc&id=$1   [NC,L]

# SHA1 to PDF
RewriteRule ^sha1:(.*)   bionames-archive/show_pdf.php?sha1=$1   [NC,L]
RewriteRule ^sha1/(.*)   bionames-archive/show_pdf.php?sha1=$1   [NC,L]

# Timeline
RewriteRule ^timeline/(.*)   display_timeline.php?q=$1   [NC,L]

# Search
RewriteRule ^search/(.*)   mockup_search.php?q=$1   [NC,L]

# Taxon concept
# RewriteRule ^taxa/(.*)   mockup_concept.php?id=$1   [NC,L]
RewriteRule ^taxa/(.*)   display_concept.php?id=$1   [NC,L]

# Taxon name
# RewriteRule ^names/(.*)   mockup_taxon_name.php?id=$1   [NC,L]
# PHP template so Google has something to see
RewriteRule ^names/(.*)   display_cluster.php?id=$1   [NC,L]

# Reference
#RewriteRule ^references/(.*)   mockup_publication.php?id=$1   [NC,L]
#RewriteRule ^references/(.*)   api/api_view.php?id=$1   [NC,L]
# PHP template so Google has something to see
RewriteRule ^references/(.*)   display_publication.php?id=$1   [NC,L]

# Journal
RewriteRule ^issn/(.*)   mockup_journal.php?issn=$1   [NC,L]
RewriteRule ^oclc/(.*)   mockup_journal.php?oclc=$1   [NC,L]

# Author
RewriteRule ^authors/(.*)   mockup_author.php?name=$1   [NC,L]

# Phylogeny
RewriteRule ^trees/(.*)   mockup_tree.php?tree=$1   [NC,L]

# API calls
RewriteRule ^api/(.*)   bionames-api/$1   [NC,L]

